.healthcare {

    &__container {
        padding: 80px 15px 75px 15px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        flex: 0 1 100%;
        display: flex;
        justify-content: center;
    }

    &__block-text {
        .text-block__title {
            &:not(:last-child) {
                margin: 0 0 14px 0;
            }
        }

        .text-block__text {
            max-width: 601px;
            margin: 0 auto;
            text-align: center;
        }
    }

    &__cards-container {
        flex: 0 1 100%;
        display: flex;
        justify-content: space-between;
        padding: 46px 29px 75px 29px;
    }

    &__card-decor {
        flex: 0 1 278.172px;
        position: relative;
    }

    &__card {
        padding: 37px 17.5px;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);

        &_1 {}

        &_2 {}

        &_3 {}
    }
}

.card {
    position: relative;
    z-index: 2;

    &__img {

        text-align: center;

        &:not(:last-child) {
            margin: 0 0 58px 0;
        }
    }

    &__title {
        color: #000;
        text-align: center;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 138.5%;
        /* 22.16px */
        letter-spacing: 1.28px;


        &:not(:last-child) {
            margin: 0 0 4px 0;
        }
    }

    &__text {
        min-height: 45px;
        color: #616161;
        text-align: center;
        font-family: Rubik;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.5%;
        /* 16.62px */
        letter-spacing: 0.96px;
    }


    &__decor {
        border-radius: 16px;
        background: #EC5863;
        position: absolute;
        z-index: 1;

        &_1 {
            width: 65.752px;
            height: 65.752px;
            transform: rotate(-30deg);
            left: -18px;
            bottom: -25px;
        }

        &_2 {
            width: 96.956px;
            height: 96.956px;
            transform: rotate(105deg);
            border-radius: 30px;
            right: -38px;
            top: 31px;
        }

        &_3 {
            width: 127.467px;
            height: 127.467px;
            transform: rotate(-30deg);
            border-radius: 30px;
            right: -85px;
            bottom: -24px;
        }

        &_4 {
            width: 65.752px;
            height: 65.752px;
            transform: rotate(-30deg);
            top: -24px;
            right: -23px;
        }

    }

}

// Адаптив

//PC
@media (max-width: 1087px) {
    div[class*="__container"] {
        max-width: 970px;
    }

}

// TABLET
@media (max-width: 991.98px) {
    div[class*="__container"] {
        max-width: 750px;
    }

    .healthcare {
        &__container {
            padding: 40px 15px 25px 15px;

        }

        &__cards-container {
            flex: 0 1 100%;
            display: flex;
            flex-direction: column;
            padding: 30px 29px 0 29px;
        }

    }

    .card {
        &:not(:last-child) {
            margin: 0 0 30px 0;
        }

        &__decor {
            display: none;
        }
    }

}

//MOBILE
@media (max-width: 767.98px) {
    div[class*="__container"] {
        max-width: none;
    }

    .healthcare {
        &__title {
            justify-content: flex-start;
        }

        .text-block {

            &__text {
                text-align: left;
                margin: 0;

            }
        }
    }



}

//MOBILE SMALL
@media (max-width: 479.98px) {}